@import 'common';

.item-boxframe {
  width: 25%;
  padding: 1rem;
  display: inline-block;
  vertical-align: top;

  .item-box {
    border: 1px solid white;
    padding: .7rem;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
      border: 1px solid rgb(5, 42, 250);
      cursor: pointer;
    }

    .item-posterframe {
      padding: 0.2rem;
      margin-bottom: .7rem;
      border: 1px solid rgb(202, 202, 202);

      .item-poster {
        height: 20rem;
        overflow: hidden;
        background: #f2f2f2;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .item-contents {
      margin-bottom: 1rem;

      .item-period {
        font-size: .9rem;
        padding-bottom: .5rem;
        font-weight: bold;
        width:100%;
        line-height: 2; 
        overflow:hidden;
        white-space:nowrap; 
        text-overflow:ellipsis;
      }

      .item-limit {
        border: 1px solid black;
        padding-bottom: .3rem;
        font-size: 1rem;
        line-height: 2;
        font-weight: bold;
        color: #333333;
      }

      .item-desc {
        height: 10rem;
        padding-top: .6rem;
        padding-bottom: .6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.8;
        max-height: 98px;      
        -webkit-line-clamp: 6; 
        -webkit-box-orient: vertical;
      }
      
      .button {
        width: 5rem;
        height: 2rem;
        margin-left: 1rem;
        border: 1px solid $oc-blue-7;
        color: $oc-blue-7;
        font-weight: 600;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: $oc-blue-7;
          color: white;
        }
        &:active {
          background: $oc-blue-8;
        }
      }
    }
  }
}