@import 'common';

.wrapper {
  background-color: #e2e1e0;
  
  .market-header {
    padding-top: 1rem;
    min-height: 40vh;
    background-image:  url('/images/ch_color2.png');
    background-attachment: scroll, fixed;
    background-size: cover;
    background-position: bottom center, bottom center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include media ("<medium") {
      min-height: 50vh;
    }
    .market-sub-wrapper{
      display : flex;
      flex-flow : column wrap;
      .market-title {
        color: white;
        font-size: 4rem;
        text-align: center;
        font-weight: bolder;
        @include media("<large") {
          font-size: 3rem;
          .market-title {
            font-size: 1.2rem;
          }
        }
        @include media("<medium") {
          flex: initial;
          width: 100%;
          margin-bottom: 0.5rem;
          .market-title {
            display: none;
            font-size: 1rem;
          }
        }
      }
      .market-description {
        font-size: 14px;
        color: white;
        text-align: center;
        @include media("<large") {
          font-size: 1rem;
        }
        @include media("<medium") {
          font-size: 0.9rem;
          padding: 1rem;
          text-align: center;
          strong {
            font-size: 1rem;
          }
        }
      }
    }
    

    

    .market-category {
      width: 100%;
      text-align: center;

      & > div {
        border-top: 0.5px solid rgba(255,255,255, 0.3);
        border-bottom: 0.5px solid rgba(255,255,255, 0.3);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include media("<medium") {
          padding-left: 10px;
          padding-right: 10px;
        }

        & > div  {
          color: white;
          border-radius: 50%;
          width: 65px;
          height: 65px;
          margin: 0;
          margin-left: 10px;
          padding: 0;
          background-color: rgba(0,0,0,0.5);
          
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);

          &:hover {
            color: #FFEB3B;
            background-color: rgba(0,0,0,0.7);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          }

          @include media("<medium") {
            border: none;
            margin-left: 5px;
            width: 60px;
            height: 60px;
          }
        }

        & > div:first-child {
          color: #FFEB3B;
        }
      }

      & > div:hover div { color: white;}
      & > div div:hover { color: #ffeb3b;}
    }
  }

  .post-btn {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    height: 10px;

    .post-btn-link {
      position: absolute;
      top: -20px;
      right: 30px;
      color: white;
      text-align: center;
      padding: 10px 30px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px 5px 20px 20px;
      cursor: pointer;
      background-color:rgba(139, 195, 74,1.0);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &:hover {
        box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22)
      }
    }
  }
}