@import 'common';

.modalForm {
  padding: 20px;

  @include media("<medium") {
    padding: 0;
  }

  .close {
    position: absolute;
    top: -1.5rem;
    right: 0;
    font-size: 4rem;
    color: #aaa;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }

  .modalTitle {
    text-align: center;
    padding-bottom: 20px;
    
    @include media("<medium") {
      padding-top: 10px;
    }

    .marketPoster {
      text-align: center;
      // margin-bottom: 20px;
      
      img {
        max-width: 100%;
        height: 390px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  .modalInfo {
    width: 650px;
    max-width: 100%;

    .marketInfo {
      border: 1px solid rgba(0,0,0,0.1);
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 20px;

      & > div {
        font-weight: bold;
        border-bottom: 1px solid skyblue;
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        // display: flex;
      }
      
      .marketInfoTitle {
        padding: 0 20px 0 10px;
        color: rgba(0,0,0,0.5);
        border-left: 5px solid skyblue;
      }
      
      .marketName, .marketPlace, .marketPeriod, .marketRegDate, .marketLimitCnt {    
        min-width: 200px;
        font-size: 18px;
        font-weight: bold;
        color: rgba(3, 169, 244,1.0);
        border-bottom: 1px solid rgba(163, 218, 243, 0.8);

        margin: 5px;
        max-width: 100%;
        padding-top: 10px;

        .animation {
          position: relative;
          width: 100%;
          height: 35px;
          .label {
            width: 100%;
            position: absolute;
            top: 5px;
            left: 0;
            font-size: 16px;
            color: #9098A9;
            font-weight: 500;
            transform-origin: 0 0;
            transition: all .2s ease;
  
            padding: 0 20px 0 10px;
            color: rgba(0,0,0,0.5);
            border-left: 5px solid skyblue;
          }
        }

        .content-box {
          width: 100%;
          .border {
            // position: absolute;
            // bottom: 0;
            // left: 0;
            height: 2px;
            width: 100%;
            background: #0077FF;
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: all .15s ease;
          }
    
          input {
            // -webkit-appearance: none;
            width: 100%;
            border: 0;
            font-family: inherit;
            padding: 5px;
            height: auto;
            font-size: 16px;
            font-weight: 500;
            border-bottom: 2px solid #C8CCD4;
            background: none;
            border-radius: 0;
            color: #223254;
            transition: all .15s ease;
            // text-align: center;
    
            &:hover {
              background: rgba(#072055,.03);
            }
              
            &:not(:placeholder-shown) {
              + span {
                color: #5A667F;
                transform: translateY(-30px) scale(.70);
              }  
            }
                
            &:focus {
              background: none;
              outline: none;
              border-bottom: 2px solid #0077FF;
            }
        }

        .date {
          width: 45%;
        }
  

        }
        // ::-webkit-input-placeholder {
        //   text-align: left;
        // }
      }

      .modalDesc {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;
        font-weight: bold;
        color: rgba(3, 169, 244,1.0);
        border-bottom: 1px solid rgba(163, 218, 243, 0.8);
        padding-top: 10px;

        position: relative;
        margin: 5px;
        max-width: 100%;

        h3 {
          padding: 0 20px 0 10px;
          color: rgba(0,0,0,0.5);
          border-left: 5px solid skyblue;
          font-size: 14px;
          margin-bottom: 20px;
        }
  
        p {
          max-width: 100%;
          font-size: 13px;
          line-height: 1.5;
          word-break: break-all;
        }

        .label {
          //position: absolute;
          //top: 50px;
          //left: 0;
          //margin: auto;
          color: #9098A9;
          font-weight: 500;
          transform-origin: 0 0;
          transition: all .2s ease;

          padding: 0 20px 0 10px;
          color: rgba(0,0,0,0.5);
          border-left: 5px solid skyblue;
        }

        textarea {
          margin-top: 10px;
          width: 100%;
          outline: 0;
          border: 1px solid #C8CCD4;
          border-radius: 15px;
          background: none;
          border-radius: 0;
          color: #223254;
          transition: all .15s ease;

          &:hover {
            background: rgba(#072055,.03);
          }
            
          &:not(:placeholder-shown) {
            + span {
              color: #5A667F;
              transform: translateY(-30px) scale(.70);
            }  
          }

          &:focus {
            background: none;
            outline: none;
            border: 1px solid #0077FF;

            // + .label {
            //   color: #0077FF;
            // //transform: translateY(-50px) scale(.70);
            //   +.border {
            //     transform: scaleX(1);
            //   } 
            // }
          }
        }
      }
    }

    .classBtn {
      // margin-bottom: 20px;
      text-align: center;
      
      button {
        display: inline-block;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        background-color: #8bc34a;
        color: white;
        outline: none;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        border: 1px solid white;
        cursor: pointer;
        border-radius: 10px;
        
        &:hover {
          border: 1px solid #8bc34a;
          color: #69a326;
          background-color: white;
        }
      }
    }

    .modalDesc {
      //border: 1px solid rgba(0,0,0,0.1);
      //padding: 20px 15px;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

      h3 {
        padding: 0 20px 0 10px;
        color: rgba(0,0,0,0.5);
        border-left: 5px solid skyblue;
        font-size: 14px;
        margin-bottom: 20px;
      }

      p {
        max-width: 100%;
        font-size: 13px;
        line-height: 1.5;
        word-break: break-all;
      }
    }
  }
}





// .modalForm {

//   /* The Close Button */
//   .close {
//     position: absolute;
//     font-size: 3rem;
//     font-weight: bold;
//     margin-left: 0;
//     right: 0;
//     line-height: 2rem;

//     &:hover,
//     &:focus {
//       color: red;
//       text-decoration: none;
//       cursor: pointer;
//     }

//     @include media ("<medium") {
//       font-size: 4rem;
//     }
//   }

//   .modalTitle {
//     margin-top: 2rem;

//     .marketName {
//       margin-right: 2rem;
//       display: inline-block;
//       font-size: 1.2rem;
//       font-weight: bold;
//       text-align: center;

//       @include media ("<medium") {
//         margin-right: 1rem;
//       }

//       @include media ("<small") {
//         width: 100%;
//         margin: 0;
//         padding: .3rem;
//         border-radius: 1rem;
//         background: #f2f2f2;
//       }
//     }
//   }

//   .modalInfo {
//     padding-top: 1.2rem;
//     margin-bottom: 1.2rem;
//     font-size: 2rem;
//     // border: 1px solid black;
    
//     .marketPoster {
//       display: inline-block;
//       margin: 2rem;
//       // padding-left: 1rem;
//       // padding-right: 1rem;
//       width: 40%;
//       text-align: center;
//       // border: 1px solid orange;

//       img {
//         max-width: 100%;
//       }

//       @include media ("<large") {
//         width: 30%;
//       }

//       @include media ("<medium") {
//         width: 100%;
//         margin-bottom: 1rem;
//       }

//       @include media ("<small") {

//       }
//     }

//     .marketInfo {
//       display: inline-block;
//       width: 60%;
//       vertical-align: top;
//       // line-height: 1.6;
//       // border: 1px solid orangered;

//       .classNickname {
//         margin-bottom: .5rem;
//       }

//       .marketPlace {
//         margin-right: 0;
//       }

//       .marketPlaceContent {
//         display: inline-block;
//         width: auto;
//         min-width: 8rem;
//         margin-left: 1rem;
//         border: initial;
//         color: inherit;
//         margin-top: .3rem;
//       }

//       div {
//         padding: .5rem;
//         font-size: 1rem;
//       }

//       span {
//         display: inline-block;
//         width: 7rem;
//         margin-right: 1rem;
//         text-align: center;
//         color: navy;
//         border: 1px solid navy;
//         border-radius: .3rem;
//       }

//       @include media ("<large") {
//         width: 70%;
//         padding-left: 1rem;
//       }

//       @include media ("<medium") {
//         width: 100%;
//       }

//       @include media ("<small") {

//       }
//     }

//     .classBtn {
//       width: 90%;
//       margin: 1rem auto;
//       padding: .5rem 1rem;
//       text-align: right;

//       button {
//         background-color: #4CAF50; /* Green */
//         border: none;
//         color: white;
//         padding: 15px 32px;
//         text-align: center;
//         text-decoration: none;
//         display: inline-block;
//         font-size: 16px;
//       }

//       @include media("<medium") {
//         text-align: center;
//       }
//     }
//   }

//   .modalDesc {
//     margin: 1rem 0 2rem 0;
//     padding: 2rem;
//     font-size: .8rem;
//     line-height: 2;
//     border-radius: .5rem;
//     border: 1px solid #f2f2f2;

//     @include media("<medium") {
//       padding: 2rem 1rem;
//     }
//   }

// }

/* .modalForm {
  background: white;
  padding: 2rem;
  position: relative;
  padding-top: 2.5rem;
  width: 50rem;
  height: 50rem;
  max-height: 100%;
  overflow-y: scroll;
  .close {
    line-height: 2rem;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
    &:hover {
      color: $oc-gray-6;
    }
  }
  .wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .poster {
      width: 30rem;
      height: 20rem;
      padding: 2rem;
      border: 1px solid black;
      font-size: 1.25rem;
      font-weight: 500;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .info {
      width: 30rem;
      height: 20rem;
      padding: 2rem;
      margin: 1rem;
      border: 1px solid black;
    }
    .desc {
      width: 30rem;
      height: 20rem;
      padding: 2rem;
      margin: 1rem;
      border: 1px solid black;
    }
  } 
} */