@import 'common';

.detail-modal {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  .close-box {
    position: absolute;
    z-index: 1000;
    top: 0;
    right:-50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  @include media("<medium") {
    .close-box {
      width: 40px;
      height: 40px;
      right: 0;
      line-height: 40px;
      font-size: 1.2rem;
    }
  }
  .img-style {
    width: 700px;
    height: 700px;
  }
  @include media("<medium") {
    .img-style {
      max-width: 430px;
      max-height: 430px;
    }
  }
  @include media("<medium") {
    .img-style {
      max-width: 300px;
      max-height: 300px;
    }
  }
  .w-50 {
    width: 50%;
  }
  @include media("<medium") {
    .w-50, .w-40 {
      width: 100%;
    }
  }
  .d-inline-block {
    display: inline-block;
    vertical-align: top;
  }
  .content-box {
    width: 100%;
    .images {
      width: 100%;
      .poster-image {
        width: 100%;
        // width: 470px;
        // height: 520px;
      }
      // @include media("<wide") {
      //   width: 100%;
      //   // height: 500px;
      // }
    }
  }
  .p-20 {
    padding: 20px;
  }
  .text-left {
    text-align: left;
  }
  .detail-top {
    width: 100%;
    position: relative;
    .img-box, .profile-content {
      display: inline-block;
      vertical-align: top;
    }
    .profile-img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
    .profile-content {
      height: 50px;
      margin-left: 8px;
      padding: 5px;
      .fs-15 {
        font-size: 15px;
      }
      .fs-13 {
        font-size: 13px;
      }
      .fc-gray {
        color: gray;
      }
      .fw-bold {
        font-weight: bold;
      }
    }
    .button-box {
      position: absolute;
      top: 5px;
      right: 10px;
      .classBtn {
        outline: 0;
        border: 1px solid #2096ba;
        padding: 5px;
        margin-right: 5px;
        background-color: #2096ba;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
      &:hover {
        color: #2096ba;
        background-color: white;
      }
      @include media("<medium") {
        .classBtn {
          font-size: 0.5rem;
        }
      }
    }
  }
  .content-wrapper {
    margin-top: 35px;
    .info-box {
      width: 50%;
      display: inline-block;
      margin-top: 15px;
      vertical-align: top;
      .info-title {
        padding-left: 8px;
        border-left: 3px solid #2096ba;
        font-size: 13px;
        font-weight: bold;
      }
      .info-content {
        margin-top: 5px;
        font-size: 13px;
      }

      input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: .5rem;

        &.focus {
          border-bottom: 1px solid rgb(3, 126, 226);
        }
      }
    }
    @include media("<smedium") {
      .info-box {
        width: 100%;
      }
    }
    .detail-wrap {
      width: 100%;
      margin-top: 35px;
      .info-title {
        padding-left: 8px;
        border-left: 3px solid #2096ba;
        font-size: 13px;
        font-weight: bold;
      }
      .info-content {
        margin-top: 5px;
        font-size: 13px;
      }
      .line-height-1-6 {
        line-height: 1.6;
      }
    }
  }
}