@import 'common';

.main-wrapper {
  background-image: url('./image/bg.svg'), url('./image/index-background.jpg');
  background-attachment: scroll, fixed;
  background-size: auto,cover;
  background-position: bottom center, top center;

  .main-visual {
    width: 100%;
    height: calc(100vh - 10rem);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .main-title {
      position: relative;
      top: -10%;
    }

    .main-title > h1 {
      padding-bottom: 3rem;
      text-align: center;
      color: white;
      font-size: 4.5rem;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

      @include media ("<medium") {
        font-size: 3rem;
      }
  
      @include media ("<small") {
        font-size: 2rem;
      }
    }

    .main-title > p {
      font-size: 1.5rem;
      width: 80%;
      color: white;
      text-align: center;
      margin: 0 auto;
      padding: 1.5rem;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
      background: rgba(white, .2);
      border: 1px solid lightblue;
      

      @include media ("<medium") {
        font-size: 1.2rem;
        width: 80%;
        padding: 1rem;
      }
  
      @include media ("<small") {
        font-size: 1rem;
        width: 90%;
      }
    }
  }

  .main-navigation-wrap {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .main-nav {
    flex: 1;
    height: 7rem;
    &:nth-child(1) {
      background-color: rgba($lightgray, 0.8);
    }
    &:nth-child(2) {
      background-color: rgba($darkgray, 0.8);
    }
    &:nth-child(3) {
      background-color: rgba($lightorange, 0.8);
    }
    &:nth-child(4) {
      background-color: rgba(#D6C1C1, 0.8);
    }
    &:nth-child(5) {
      background-color: rgba($lightyellow, 0.8);
    }
    &:nth-child(6) {
      background-color: rgba(#93B7B7, 0.8);
    }
    &:nth-child(7) {
      background-color: rgba($navy, 0.8);
    }
    &:hover {
      opacity: 0.7;
    }
    .nav-wrap {
      padding: 0.7rem;
      text-align: center;
      img {
        width: 80px;
      }
      p {
        font-size: 13px;
        font-weight: 800;
        color: white;
      }
    }
  }
  @include media ("<medium") {
    .main-nav {
      min-width: 33.3%;
    }
  }
  @include media ("<small") {
    .main-background {
      height: 50vh;
    }
    .main-nav {
      min-width: 100%;
    }
  }
}