@import 'common';


.item-wrapper {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: auto;
  padding : 2rem;
  .item-image {
    display: inline-block;
    border: 1px solid black;
    width: 250px;
    height: 13rem;
  }
  .item-detail {
    display: flex;
    color: dimgray;
    justify-content: space-around;
    flex-flow: column;
    width : 650px;
    height: 14rem; 
    h1 {
      font-size: 1.5rem;
    }
    .detail-info-wrapper{
      display: flex;
      border: 1px solid black;
      height: 10rem;
      flex-direction: row;
      justify-content: space-between;
    } 
  }
  
}