@import 'common';

.notice-wrap {
  padding: 5rem;
  a {
    color: black;
  }
  .notice {
    width: 80%;
    border: 1px solid blue;
    padding: 3rem;
    margin: 2rem auto;
  }
  .button-space {
    margin: 2rem auto;
    width: 80%;
    text-align: right;
   .write-button {
     cursor: pointer;
     border: 1px solid $oc-blue-6;
     display: inline-block;
     padding: 15px;
     font-size: 15px;
   } 
  }
}