@import 'common';

.board {
  width: 100%;
  height: auto;

  .board-intro {
    padding-top: 1rem;
    width: 100%;
    min-height: 100vh;
    // background-image: url('/images/bg.svg'), url('/images/intro.jpg');
    background-image: url('/images/testBg1.jpg');
    background-attachment: scroll, fixed;
    background-size: cover;
    background-position: bottom center, top center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include media("<medium") {
      flex-direction: row;
    }

    .board-intro-head {
      flex: 1;
      color: white;
      font-size: 4rem;
      letter-spacing: -0.3rem;
      text-align: right;
      padding: 2rem;
      line-height: .5;
      border-top: 1px solid rgba(255, 235, 59, 0.5);
      border-bottom: 1px solid rgba(255, 235, 59, 0.5);
      margin-top: 7rem;
      font-weight: bold;
      background-color: rgba(black, 0.7);

      .board-intro-subtitle {
        display: inline-block;
        font-size: 2rem;
        letter-spacing: -0.1rem;
        font-weight: bold;
        margin-top: 40px;
        // color:#dfdddd;
      }
      
      @include media("<large") {
        font-size: 3rem;
      }

      @include media("<medium") {
        flex: initial;
        width: 100%;
        font-size: 3rem;
        text-align: center;
        padding-right: 5%;

        .about-intro-subtitle {
          font-size: 1.5rem;
        }
      }
      @include media("<small") {
        font-size: 2.5rem;
      }
    }
    
    .board-intro-body {
      flex: 2;
      padding: 4rem;
      padding-left: 5%;
      margin-top: 7rem;
      border-left: 10px solid rgb(255, 235, 59);
      color: white;
      font-size: 1.2rem;
      font-family: 'Sunflower', sans-serif;
      line-height: 1.8;
      background-color: rgba(black, 0.7);

      strong {
        color: rgb(252, 227, 181);
        padding-left: 1rem;
        font-size: 1.5rem;
      }

      @include media("<large") {
        font-size: 1rem;
      }
      @include media("<medium") {
        text-align: center;
        font-size: .9rem;
        padding: 2.5rem 0.5rem;
        line-height: 1.8;
      }
      @include media("<small") {
        font-size: .8rem;
      }
    }
  }

  .board-menu-wrap {
    width: 100%;
  }

  .board-menu {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include media("<large") {
      padding: 15%;
    }
    @include media("<medium") {
      padding: 15%;
    }
    @media screen and (max-width: 480px) {
      padding: 5%;
    }

    .board-item {
      display: inline-block;
      width: 20%;

      @include media("<medium") {
        width: 33.3%;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        border-right: 1px solid white;
        color: white;
        text-align: center;

        @include media("<large") {
          height: 4rem;

        }
        
        &:hover {
          color: rgb(76, 250, 206);
        }

        strong {
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          font-size: 0.9rem;
          font-weight: 400;
          background: rgba(0,0,0,.7);

          @include media ("<large") {
            font-size: .8rem;
          }
          @include media ("<medium") {
            font-size: .7rem;
          }
          @media screen and (max-width: 480px) {
            padding: 0.25rem 0.5rem;
          }
        }
      }
      
      &:before {
        content: " ";
        display: block;
        min-height: 6rem;
        border: 1px solid white;
        border-left-width: 0;
        background-color: rgba(0,0,0,0.7);

        @include media("<medium") {
          min-height: 5rem;
        }
      }
    }

    .board-free {
      &:before {
        border-left-width: 1px;
        border-radius: 6px 0 0 6px;
        background-image: url('./image/board-free.png');
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.8;
      }
    }

    .board-market {
      &:before {
        background-image: url('./image/board-market.png');
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.8;
      }
    }

    .board-seller {
      &:before {
        background-image: url('./image/board-seller.png');
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.8;
      }
    }

    .board-notice {
      &:before {
        background-image: url('./image/board-notice.png');
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.8;
      }
    }

    .board-qna {
      span {
        border-right: none;
      }
      &:before {
        border-radius: 0 6px 6px 0;
        background-image: url('./image/board-qna.png');
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.8;
      }
    }

    @include media("<medium") {
      .board-seller {
        span {
          border-right: none;
        }
        &:before {
          border-radius: 0 6px 6px 0;
        }
      }
    }

    @include media("<medium") {
      .board-notice {
        &:before {
          border-left-width: 1px;
          border-radius: 6px 0 0 6px;
        }
      }
    }

    @include media("<medium") {
      .board-qna {
        span {
          border-right: none;
        }
        &:before {
          border-radius: 0 6px 6px 0;
        }
      }
    }
  }
}