@import 'lib/_media.scss';
@import 'lib/_color.scss';

$breakpoints: (small: 321px, smedium: 480px,  medium: 768px, large: 1024px, wide: 1400px);

// 메인 컬러
$lightgray: #C4D4E0;
$darkgray: #9AABB9;
$lightorange: #E2B49A;
$lightyellow: #E9C77B;
$navy: #193446;

@mixin position-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin d-inline-block() {
  display: inline-block;
}

@mixin vertical-top() {
  vertical-align: top;
}

@mixin text-center() {
  text-align: center;
}

@mixin text-left() {
  text-align: left;
}

@mixin text-right() {
  text-align: right;
}