@import 'common';

.wrapper {

  .inner {
    max-width: 1600px;
    margin: 0 auto;
  }

  .visual {
    background-image: url(/images/bg.svg);
  }
  .visual .inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 2rem 2rem;
  }
  .visual h1 {
    font-size: 2rem;
    letter-spacing: -.1rem;
    color: rgb(255, 128, 128);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .visual p {
    margin-top: .5rem;
    // margin-left: 5rem;
    text-align: center;
    font-size: .9rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .visual strong {
    font-size: 1.2rem;
    color: rgb(255, 128, 128);
    text-shadow: none;
  }
  .best-itemlist {
    color: #434a53;
    background: rgba(201, 195, 161, 0.2);
  }
  .best-itemlist .inner {
    padding: 2rem 0 2.5rem;
  }
  .best-itemlist h2 {
    padding-left: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: -.1rem;
  }
  .itemlist .inner {
    padding: 2rem 0 2.5rem;
  }
  .itemlist h2 {
    padding-left: 1rem;
    font-size: 2rem;
    letter-spacing: -.1rem; 
    color: #434a53;
  }
  .itemlist .categoryList {
    padding-right: 1rem;
    text-align: right;
  }

  // best-itemlist-box & itemlist-box 
  .itemlist-box {
    margin-top: 1.2rem;
    font-size: .9rem;
    line-height: 1.5;
  }
  .item-boxframe {
    width: 25%;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
  }
  .item-box {
    border: 1px solid white;
    padding: .7rem;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .item-box:hover {
    border: 1px solid rgb(255, 128, 128);
  }
  .item-poster {
    height: 11rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
    border: 1px solid rgba(5, 5, 5, 0.2);
    overflow: hidden;
    background: #f2f2f2;
  }
  .item-poster img {
    max-width: 100%;
    height: auto;
  }
  .item-contents {
    margin-bottom: 1rem;
  }
  .item-name {
    font-size: 1rem;
    padding-bottom: .5rem;
    font-weight: bold;
    width:100%; 
    overflow:hidden;
    white-space:nowrap; 
    text-overflow:ellipsis;
  }
  .item-desc {
    height: 10rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 105px;      /* fallback */
    -webkit-line-clamp: 6; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .item-profile {
    position: relative;
    padding-left: 25%;
    height: 5rem;
  }
  .item-profile-img {
    position: absolute;
    top: -.2rem;
    left: 0;
    display: inline-block;
    width: 20%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .item-profile-img img {
    max-width: 100%;
    height: auto;
  }
  .item-nickname {

  }
  .item-category {

  }
  .item-place {

  }

}






// .wrapper {
//   display: flex;
//   background: skyblue;
//   flex-direction: row;
//   justify-content: space-between;
//   flex-wrap: wrap;

//   .market-item {
//     height:300px;
//     width:300px;
//     background-color:white;
//     border:1px solid black;
//     padding-bottom: 1.5rem;
//     margin-top: 2rem;
//     margin-left: 2rem;
//     margin-right: 2rem;
//     min-width: 300px;
//     flex: 1;
//   }
// }
/* 
.wrapper {
  width: 80%;
  padding: 20px;
  margin: auto;
  text-align: center;
  .market-item {
    display: inline-block;
    width: 22%;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .market-item-top {
      width: 100%;
      min-height: 250px;
      border-bottom: 1px solid black;
    }
    .market-item-bottom {
      .bot-inner-top {
      }
      .bot-inner-bot {
      }
      .item-left, .item-right {
        width: 48%;
        display: inline-block;
        padding: 2px;
      }
      .item-left {
        text-align: left;
      }
      .item-right {
        text-align: right;
      }
      .block-to-inline {
        display: inline-block;
      }
    }
  }
} */