@import 'common';

.wrapper {

  .inner {
    max-width: 1400px;
    margin: 0 auto;

    @include media ("<wide") {
    }

    @include media ("<large") {

    }

    @include media ("<medium") {

    }

    @include media ("<small") {

    }
  }

  .visual {
    background-image: url(/images/classes/bg.svg);
    background-attachment: fixed;
    background-size: 25rem;

    .visual-inner {
      padding: 1.5rem 2rem 2rem;
          
      h1 {
        padding-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: -.1rem;
        text-align: center;
        color: rgba(204, 67, 67, 0.849);
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
      }

      p {
        margin-top: .5rem;
        // margin-left: 5rem;
        text-align: center;
        font-size: 1rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      }

      strong {
        font-size: 1.2rem;
        color: rgb(255, 128, 128);
        text-shadow: none;
      }
    }
  }

  .bestlist {
    color: #434a53;
    background: rgba(201, 195, 161, 0.2);

    .bestlist-inner {
      padding: 2rem 0 2.5rem;

      .bestlist-title {
        padding: .5rem .5rem .5rem 1rem;
        margin-bottom: 1rem;
        border-radius: .7rem;
        background: #ff6666;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        h2 {
          padding-left: .7rem;
          font-size: 2rem;
          line-height: 1;
          letter-spacing: -.1rem;
          color: #fff;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .item-boxframe {

      @media screen and (max-width: 1200px) {
        width: 50%;
        padding: .7rem;
      }
  
      @media screen and (max-width: 900px) {
        width: 50%;
        padding: 0.5rem;
      }
  
      @media screen and (max-width: 600px) {
        width: 100%;
        padding: 1rem;
      }
    }

  }

  .itemlist {
    
    .itemlist-inner {
      padding: 3rem 0 2.5rem;

      .itemlist-title {
        // margin-top: 2rem;
        // margin-left: .3rem;
        // margin-right: .3rem;
        padding: .5rem .5rem .5rem 1rem;
        border-radius: .5rem;
        background-color: #ff6666;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        h2 {
          padding-left: 1rem;
          font-size: 2rem;
          letter-spacing: -.1rem; 
          color: white;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
      }

      .category-list {
        // position: relative;
        // top: -3.2rem;
        // padding-right: 2rem;
        padding-top: 1rem;
        text-align: center;
        // display: flex;

        & > div {
          border-radius: 2rem;
          padding: .3rem 1rem;
          text-align: center;
        }
      }

      .itemlist-box {
        padding: .5rem;
        // margin-top: 1.2rem;
        font-size: .9rem;
        line-height: 1.5;
        border-radius: 1rem;
      }
    }
  } 


  // bestlist-box & itemlist-box 공통

  .item-boxframe {
    width: 25%;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;

    .item-box {
      border: 1px solid white;
      padding: .7rem;
      border-radius: 10px;
      background: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      &:hover {
        border: 1px solid rgb(255, 128, 128);
        cursor: pointer;
      }

      .item-posterframe {
        padding: 0.2rem;
        margin-bottom: .7rem;
        border: 1px solid rgb(202, 202, 202);

        .item-poster {
          height: 15rem;
          overflow: hidden;
          background: #f2f2f2;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .item-contents {
        margin-bottom: 1rem;

        .item-name {
          font-size: 1rem;
          padding-bottom: .5rem;
          font-weight: bold;
          width:100%; 
          overflow:hidden;
          white-space:nowrap; 
          text-overflow:ellipsis;
        }

        .item-limit {
          padding-bottom: .3rem;
          font-size: .8rem;
          line-height: 1.3;
          font-weight: bold;
          color: #333333;
        }

        .item-period {
          font-size: .8rem;
          font-weight: bold;
          color: #333333;
        }

        .item-desc {
          height: 10rem;
          padding-top: .6rem;
          padding-bottom: .6rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 1.8;
          max-height: 98px;      
          -webkit-line-clamp: 6; 
          -webkit-box-orient: vertical;
        }        
      }

      .item-profile {
        height: 5rem;
        line-height: 1.8;

        .item-profile-img {
          float: left;
          width: 20%;
          max-width: 75px;
          margin-right: 1rem;
          margin-bottom: 1rem;
          border-radius: 50%;
          // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

          img {
            max-width: 100%;
            height: auto;
          }
        }

        .item-profile-info {

        }

        .item-nickname {}
        .item-category {}
        .item-place {}
      }
    }

    @media screen and (max-width: 1200px) {
      width: 33%;
      padding: .5rem;
    }

    @media screen and (max-width: 900px) {
      width: 50%;
      padding: 0.5rem;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      padding: 1rem;
    }
  }
}