@import 'common';

// .item-boxframe {
//   width: 25%;
//   padding: 1rem;
//   display: inline-block;
//   vertical-align: top;

//   .item-box {
//     border: 1px solid white;
//     padding: .7rem;
//     border-radius: 10px;
//     background: white;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     cursor: pointer;
//     &:hover {
//       border: 1px solid rgb(255, 128, 128);
//     }

//     .item-posterframe {
//       padding: 0.2rem;
//       margin-bottom: .7rem;
//       border: 1px solid rgb(202, 202, 202);

//       .item-poster {
//         height: 15rem;
//         overflow: hidden;
//         background: #f2f2f2;

//         img {
//           max-width: 100%;
//           height: auto;
//         }
//       }
//     }

  .item-boxframe {
    width: 25%;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;

    .item-box {
      border: 1px solid white;
      padding: .7rem;
      border-radius: 10px;
      background: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      &:hover {
        border: 1px solid rgb(255, 128, 128);
        cursor: pointer;
      }

      .item-posterframe {
        padding: 0.2rem;
        margin-bottom: .7rem;
        border: 1px solid rgb(202, 202, 202);

        .item-poster {
          height: 15rem;
          overflow: hidden;
          background: #f2f2f2;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .item-contents {
        margin-bottom: 1rem;

        .item-name {
          font-size: 1rem;
          padding-bottom: .5rem;
          font-weight: bold;
          width:100%; 
          overflow:hidden;
          white-space:nowrap; 
          text-overflow:ellipsis;
        }

        .item-limit {
          padding-bottom: .3rem;
          font-size: .8rem;
          line-height: 1.3;
          font-weight: bold;
          color: #333333;
        }

        .item-period {
          font-size: .8rem;
          font-weight: bold;
          color: #333333;
        }

        .item-desc {
          height: 10rem;
          padding-top: .6rem;
          padding-bottom: .6rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          line-height: 1.8;
          max-height: 98px;      
          -webkit-line-clamp: 6; 
          -webkit-box-orient: vertical;
        }        
      }

      // .item-profile {
      //   height: 5rem;
      //   line-height: 1.8;

      //   .item-profile-img {
      //     float: left;
      //     width: 20%;
      //     max-width: 75px;
      //     margin-right: 1rem;
      //     margin-bottom: 1rem;
      //     border-radius: 50%;
          // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .item-profile {
      position: relative;
      padding-left: 25%;
      height: 5rem;

      .item-profile-img {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 20%;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img {
          max-width: 100%;
          height: auto;
        }

        .item-profile-info {

        }

        .item-nickname {}
        .item-category {}
        .item-place {}
      }
    }

    @media screen and (max-width: 1200px) {
      width: 33%;
      padding: .5rem;
    }

    @media screen and (max-width: 900px) {
      width: 50%;
      padding: 0.5rem;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      padding: 1rem;
    }
  }
}