@import 'common';
.header {
  background-color: $navy;
  width: 100%;

  .logo > a {
    color: white;
  }

  .header-content {
    height: 5rem;
    width: 90%;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
  }

  .space {
    width: 15%;
  }

  @include media("<wide") {
    width: 100%;
  }

  .nav-items {
    flex: 1;
    
    .nav-item {
      padding: 10px;
      color: white;
      font-size: 14px;
    }
  }
}