@import 'common';
.header {
  background-color: #EEEEEE;
  width: 100%;

  .logo {
    a {
      color: white;
    }
    .logo-text {
      font-size: 25px;
      color: #717171;
      font-weight: 600;
    }
  }

  .header-content {
    height: 3rem;
    width: 90%;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
  }

  .space { 
    width: 15%;
    .header-button {
      display: inline-flex;
      padding: 15px;
      border: 1px solid #717171;
      color: #717171;
      font-weight: 600;
      margin: 5px;
      cursor: pointer;
      &:hover {
        background: #717171;
        color: white;
      }
    }
  }

  @include media("<wide") {
    width: 100%;
  }

  .nav-items {
    flex: 1;
    
    .nav-item {
      padding: 10px;
      color: #717171;
      font-size: 14px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      .dropbtn {
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        Link {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover{
            background-color: #f1f1f1;
          }
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
      &:hover .dropbtn {
        background-color: darkgray;
      }
    }
    
  }
}