@import 'common';

.wrap {
  width: 100%;
  margin: auto;
  padding: 1rem;
  background-image: url('/images/gradient.png');
  background-size: cover;
  background-repeat: no-repeat;
  .post-wrap {
    width: 65%;
    padding: 20px;
    margin: 3rem auto;
    background-color: #FEF5EC;
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    .title {
      width: 100%;
      margin: auto;
      padding: 20px;
      text-align: center;
      font-size: 2rem;
      color: orange;
    }
    @include media("<medium") {
      .title {
        font-size: 1.5rem;
      }
    }
    @include media("<smedium") {
      .title {
        font-size: 1.2rem;
      }
    }
    .content-wrap {
      width: 100%;
      margin: auto;
      border: 1px solid black;
      .content-box {
        display: inline-block;
        width: 50%;
        padding: 10px;
        border: 1px solid red;
        vertical-align: top;
        .content-title {
          color: orange;
          font-size: 1.2rem;
          text-align: center;
        }
        @include media("<large") {
          .content-title {
            font-size: 1rem;
          }
        }
        @include media("<medium") {
          .content-title {
            font-size: 0.8rem;
          }
        }
        .img-wrap {
          width: 100%;
          padding: 15px;
          margin-top: 2rem;
          text-align: center;
          .img-list {
            position: relative;
            vertical-align: top;
            display: inline-block;
            width: 30%;
            z-index: 400;
            margin: 1.5%;
            height: 170px;
            border: 1px solid #ff7e00;
            .upload-img {
              @include position-center();
              font-size: 1.2rem;
              z-index: 400;
              color: #ff7e00;
            }
            .uploaded-img {
              position: absolute;
              left: 0;
              top: 0;
              z-index: 300;
              width: 100%;
              height: 100%;
            }
            .oneday-img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              z-index: 500;
              height: 100%;
              opacity: 0;
              cursor: pointer;
            }
          }
          @include media("<large") {
            .img-list {
              width: 60%;
              max-width: 270px;
              min-width: 150px;
              margin: 20px auto;
            }
          }
        }
        @include media("<large") {
          .img-wrap {
            margin: 0.8rem auto;
            padding: 5px;
          }
        }
        .content-detail {
          width: 100%;
          padding: 15px;
          margin-top: 2rem;
          text-align: center;
          .detail-wrap {
            width: 100%;
            margin: 1rem auto;
            .content-category, .class-title, .class-place {
              width: 90%;
              outline: 0;
              border: 1px solid #ff7e00;
              color: orange;
              font-weight: 600;
              font-size: 1rem;
              padding: 10px;
              border-radius: 10px;
              background: none;
            }
            @include media("<large") {
              .content-category, .class-title, .class-place {
                width: 100%;
                font-size: 0.8rem;
              }
            }
            .content-category {
              cursor: pointer;
            }
            .wrap-50 {
              display: inline-block;
              width: 45%;
              .detail-sub-title {
                width: 95%;
                margin: auto;
                font-size: 0.6rem;
                text-align: center;
                color: orange;
              }
              @include media("<large") {
                .detail-sub-title {
                  font-size: 0.8rem;
                }
              }
              @include media("<smedium") {
                .detail-sub-title {
                  font-size: 0.6rem;
                }
              }
              .class-event-date, .class-limit-cnt, .class-start-date, .class-end-date {
                width: 90%;
                margin: 0.8rem auto;
                outline: 0;
                border: 1px solid #ff7e00;
                color: orange;
                font-weight: 600;
                font-size: 0.8rem;
                padding: 10px;
                border-radius: 10px;
                background: none;
              }
              @include media(">large") {
                .class-event-date, .class-limit-cnt, .class-start-date, .class-end-date {
                  font-size: 1rem;
                }
              }
              @include media("<large") {
                .class-event-date, .class-limit-cnt, .class-start-date, .class-end-date {
                  width: 100%;
                }
              }
            }
            @include media("<large") {
              .wrap-50 {
                width: 100%;
              }
            }
          }
          @include media("<large") {
            .detail-wrap {
              margin: 2rem auto;
            }
          }
          .char {
            color: #ff7e00;
            font-weight: bold;
            font-size: 1rem;
          }
          @include media("<large") {
            .large-none {
              display: none;
            }
          }
          ::-webkit-input-placeholder {
            color: orange;
            font-size: 0.8rem;
          }
        }
        @include media("<large") {
          .content-detail {
            padding: 5px;
            margin: 0.8rem auto; 
          }
        }
      }
      @include media("<large") {
        .content-box {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
  @include media("<large") {
    .post-wrap {
      width: 95%;
    }
  }
  .class-desc-wrap {
    width: 100%;
    border: 1px solid red;
    margin: auto;
    .class-desc {
      width: 100%;
      padding: 30px;
      color: black;
      outline: none;
      font-weight: 600;
      font-size: 1rem;
      background: none;
    }
    @include media("<large") {
      .class-desc {
        font-size: 0.8rem;
      }
    }
    @include media("<smedium") {
      .class-desc {
        font-size: 0.6rem;
      }
    }
  }
  .submit-box {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    .submit-btn {
      border: 1px solid #ff7e00;
      background-color: white;
      padding: 10px;
      color: #ff7e00;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background-color: #ff7e00;
        color: white;
      }
    }
    @include media("<medium") {
      .submit-btn {
        font-size: 0.8rem;
        padding: 5px;
      }
    }
  }
}