@import 'common';

.modalForm {

  /* The Close Button */
  .close {
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 0;
    right: 5px;
    top: -0.6rem;
    line-height: 1;
    color: #aaa;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .modalTitle {
    margin-top: 1rem;

    .classCategory {
      display: inline-block;
      padding: 0 2rem;
      margin-bottom: .5rem;
      margin-right: 1rem;
      line-height: 1.8;
      border: 1px solid #c4d4e0;
      font-size: 1rem;
      border-radius: .5rem;
      color: #aec9dd;
    }

    .className {
      margin-right: 2rem;
      display: inline-block;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      color: rgba(0,0,0,0.6);

      @include media ("<medium") {
        margin-right: 1rem;
      }

      @include media ("<small") {
        width: 100%;
        margin: 0;
        padding: .3rem;
        border-radius: 1rem;
        background: #f2f2f2;
      }
    }
  }


  .modalInfo {
    padding-top: 1.2rem;
    margin-bottom: 1.2rem;
    // font-size: 2rem;
    // border: 1px solid black;
    
    .classProfileImg {
      display: inline-block;
      // padding-left: 1rem;
      // padding-right: 1rem;
      width: 40%;
      text-align: center;
      // border: 1px solid orange;

      img {
        max-width: 100%;
        border-radius: 50%;
      }

      @include media ("<large") {
        width: 30%;
      }

      @include media ("<medium") {
        width: 100%;
        margin-bottom: 1rem;
      }

      @include media ("<small") {

      }
    }

    .classInfo {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      // line-height: 1.6;
      // border: 1px solid orangered;

      .classNickname {
        margin-bottom: .5rem;
      }

      .classPlace {
        margin : 0;
      }

      .classPlaceContent {
        display: inline-block;
        width: auto;
        min-width: 8rem;
        // margin-left: 1rem;
        border: initial;
        color: inherit;
        margin-top: .3rem;
      }

      .classRegCnt {
        color: #2196f3;
      }

      em {
        padding: 0 10px;
      }

      div {
        padding: .2rem;
        font-size: .8rem;
      }

      span {
        display: inline-block;
        width: 5rem;
        margin-right: 1rem;
        text-align: center;
        color: #aec9dd;
        border: 1px solid #c4d4e0;
        border-radius: .5rem;
      }

      @include media ("<large") {
        width: 70%;
        padding-left: 1rem;
      }

      @include media ("<medium") {
        width: 100%;
      }

      @include media ("<small") {

      }

      .classBtnWrap {
        text-align: center;

        .classBtn {
          display: inline-block;
          margin: 1rem auto;
          padding: .5rem 1rem;
          text-align: center;
          background-color: #4CAF50; /* Green */
          color: white;
          outline: none;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border: 1px solid white;
          cursor: pointer;
          border-radius: 10px;
          
          &:hover {
            border: 1px solid #4CAF50;
            color: #4CAF50;
            background-color: white;
          }
    
          @include media("<medium") {
            text-align: center;
          }
        }
      }
    }
  }

  .modalDesc {
    margin: 1rem 0 2rem 0;
    padding: 1rem 2rem 2rem;
    font-size: .8rem;
    line-height: 2;
    border-radius: .5rem;
    // border: 1px solid #f2f2f2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display : flex;
    flex-flow : column wrap;
    @include media("<medium") {
      padding: 1rem;
    }

    .modalTitle {
      display: inline-block;
      padding-left: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      border-left: 10px solid orange;
    }
    .descWrapper{
      display : flex;
      justify-content: space-around;
      @include media ("<medium") {
        background-color: #4CAF50;
        flex-flow : column wrap;
      }
      .modalContent {
        flex-basis: 350px;
        padding-left: 10px;
        padding-right: 10px;
        
      }
      
      .modalImage {
        text-align: center;
        // padding-top: 2rem;
        display : flex;
        // justify-content: center;
        flex-flow: row wrap;
        max-width: 600px;
        width: 600px;
        column-count: 3;
        column-width: 200px;
        max-height: 600px;
        // .images{
        //   display : flex;
        //   justify-content: flex-start;
        //   flex-flow : row wrap;
         
          .img-box {
            .img-btn {
              span {
                cursor: pointer;
                font-size: 2rem;
              }
              @include text-right();
            }
            img {
              @include media ("<large") {
                width: 70%;
              }
        
              @include media ("<medium") {
                width: 100%;
              }
              @include media ("<small") {

              }
              max-width: 600px;
              max-height: 600px;
              min-width : 200px;
              min-height: 200px;
            }
          }
        // }
      }
    }
  }
}
