@import 'common';

.modalForm {
  // border-top: 10px dotted rgba(0,0,0,0.1);
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  width : 935px;
  max-height: 600px;
  height: 600px;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  margin : 0;
  @include media("<medium") {
    padding: 10px;
  }
  
  .wrapper {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    width: 355px;
    height: 522px;
    font-family: 'Noto Sans KR', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 10px;
    align-self: flex-end;
    @include media("<medium"){
      width: 250px;
      max-height: 400px;
    }
    .profile {
      text-align: center;
      flex: 1 1 200px;
      height: 200px;
      .nickName{
        font-size : 15px;
        font-weight: bolder;

        padding : 10px;
      }
      @include media("<small") {
        max-width: 250px;
        max-height: 200px;
      }
      img {
        border-radius: 50%;
        max-width: 150px;
        min-width: 100px;
        height: auto;

        @include media("<medium") {
          max-width: 300px;
        }
       
      }

      .like {
        padding: 5px;
        font-size : 15px;
        color: rgba(0,0,0,0.6);
        text-align: center;
      
        .heart {
            font-size: 16px;
            vertical-align: bottom;

            &:hover {
                color: $oc-gray-5;
            }
            &:active {
                color: $oc-pink-6};
        }

        span {
          color : $oc-gray-5;
          font-size: 0.8rem;
          margin: 0 10px;
        }
      }
    }

    .desc {
        font-family: 'Noto Sans KR', sans-serif;
        display : flex;
        justify-content: center;
        flex-flow : column wrap;
      .info {
        font-size: 17px;
        line-height: 2;
        div {
          padding-top: 5px;
        }

        span {
          padding: 0 10px;
          width: 60px;
          margin-right: 20px;
        }
      }

      .desc-text {
        height: 100px;
        overflow: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 1.5;
        font-size: 15px;
        color: rgba(0,0,0,0.8);
        word-break: break-all;
      }
    }
  }
  
  .seller_img {
    width : 600px;
    height: 600px;
    flex: 1 1 300px;
    .images {
      max-width: 100%;
      img {
        max-width: 600px;
        max-height: 600px;
        width : 600px;
        height: 600px;
      }
    }
    
  }
  
  .close {
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    margin-left: 0;
    right: 5px;
    top: -0.4rem;
    line-height: 1;
    color: #aaa;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
