@import 'common';

.button {
  padding: 10px;
  font-size: 14px;
  color: white;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  margin: 5px;

  &.default {
    background: $oc-blue-6;
    &:hover {
      background: $oc-blue-5;
    }
    &:active {
      background: $oc-blue-6;
    }
  }

  &.gray {
    background: $oc-gray-7;
    &:hover {
      background: $oc-gray-6;
    }
    &:active {
      background: $oc-gray-7;
    }
  }

  &.outline {
    border: 2px solid white;
    border-radius: 2px;
    &:hover {
      background: white;
      color: $oc-blue-6;
    }
    &:active {
      background: rgba(255, 255, 255, 0.85);
      border: 2px solid rgba(255, 255, 255, 0.85);
    }
  }
}