@import 'common';

.detail-info-wrapper{
  display: flex;
/*        border: 1px solid black;*/
  flex-direction: row;
  justify-content: space-between;
  .detail-info{
    font-size : 17px;
  }
  .detail-info > *{
    padding : 2px;
  }
}

