@import 'common';

// .wrapper {
//   display: flex;
//   background: skyblue;
//   flex-direction: row;
//   justify-content: space-between;
//   flex-wrap: wrap;

//   .market-item {
//     height:300px;
//     width:300px;
//     background-color:white;
//     border:1px solid black;
//     padding-bottom: 1.5rem;
//     margin-top: 2rem;
//     margin-left: 2rem;
//     margin-right: 2rem;
//     min-width: 300px;
//     flex: 1;
//   }
// }

.wrapper {
  width: 80%;
  padding: 20px;
  margin: auto;
  text-align: center;
  .market-item {
    display: inline-block;
    width: 22%;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .market-item-top {
      width: 100%;
      min-height: 250px;
      border-bottom: 1px solid black;
      position: relative;
      .market-dday {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        position: absolute;
        right: 0;
      }
    }
    .market-item-bottom {
      .bot-inner-top {
      }
      .bot-inner-bot {
      }
      .item-left, .item-right {
        width: 48%;
        display: inline-block;
        padding: 2px;
      }
      .item-left {
        text-align: left;
      }
      .item-right {
        text-align: right;
      }
      .block-to-inline {
        display: inline-block;
      }
    }
  }
}