@import 'common';

.like {
  font-size : 1rem;
  padding: 0.5rem ;
  margin-right: 10px;
  border-top : 1px solid $oc-gray-1;
  color : $oc-gray-5;

  svg {
    padding-left: 10px;
    padding-right: 12px;
    cursor: pointer;
  }

  span {
      margin-left : 0.25rem;
      font-size: 0.8rem;
      padding-bottom : 0.25rem;
      color : $oc-gray-5;
      
    .heart{
      &:hover {
        color: $oc-gray-7;
        fill: #ff77c2 !important;
      }
      &.likeOn {
        color: $oc-pink-6 !important;
        fill: $oc-pink-6 !important;
      }
    }
  }

  & > span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
}