@import 'common';

.form {
  width: 100%;
  padding: 1rem;
  border-top : 1px solid #333;
  border-bottom : 1px solid #333;
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .post-wrap {
    width: 47%;
    margin-top: 2rem;
    border: 1.5px solid  #b06ab3;
    .title {
      width: 100%;
      margin: auto;
      padding: 20px 20px;
      background-color: #b06ab3;
      text-align: center;
      font-size: 2rem;
      color: white
    }
    @include media("<medium") {
      .title {
        font-size: 1.5rem;
      }
    }
    @include media("<smedium") {
      .title {
        font-size: 1.2rem;
      }
    }
    .content-wrap {
      width: 100%;
      margin: auto;
      display : flex;
      justify-content: space-around;
      .content-box {
        display: inline-block;
        width: 45%;
        padding: 20px;
        vertical-align: top;
        .content-title {
          color: balck;
          font-size: 1.2rem;
          text-align: center;
          padding-bottom : 1rem;
        }
        @include media("<large") {
          .content-title {
            font-size: 1rem;
          }
        }
        @include media("<medium") {
          .content-title {
            font-size: 0.8rem;
          }
        }
        .img-wrap {
          width: 100%;
          // padding: 15px;
          // margin-top: 1rem;
          text-align: center;
          border: 1.5px solid  #b06ab3;
          height : 330px;
          .img-list {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            min-height: 190px;
            .upload-img {
              @include position-center();
              font-size: 1.2rem;
              z-index: 400;
              color:  #b06ab3;
            }
            .uploaded-poster {
              position: absolute;
              left: 0;
              top: 0;
              z-index: 300;
              width: 100%;
              height: 100%;
            }
            .market-img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 330px;
              z-index: 500;
              opacity: 0;
              cursor: pointer;
            }
          }
          @include media("<large") {
            .img-list {
              width: 60%;
              max-width: 270px;
              min-width: 150px;
              height: 250px;
              margin: 20px auto;
              .margiet-img {
                height: 250px;
              }
            }
          }
          @include media("<smedium") {
            .img-list {
              height: 180px;
              .margiet-img {
                height: 180px;
              }
            }
          }
        }
        @include media("<large") {
          .img-wrap {
            margin: 0.8rem auto;
            padding: 5px;
          }
        }
        .content-detail {
          width: 100%;
          // padding: 15px;
          // margin-top: 1rem;
          height : 330px;
          display: flex;
          flex-flow: column wrap;
          align-content: space-between;
          justify-content: space-between;
          text-align: center;
          .detail-wrap {
            // flex-direction: row;
            width: 100%;
            // margin: 0.9rem auto;
            color: rgb(78, 78, 78);
            font-weight: 600;
            font-size : 1rem;
            .market-title, .market-place, .market-cnt {
              width: 100%;
              outline: 0;
              border: 1.5px  solid  #b06ab3;
              color: rgb(78, 78, 78);
              font-weight: 600;
              font-size: 1rem;
              padding: 10px;
              border-radius: 10px;
              background: none;
            }
            @include media("<large") {
              .market-title, .market-place, .market-cnt {
                width: 100%;
                font-size: 0.8rem;
              }
            }
            .host-period{
              text-align: left;
              padding-bottom :10px;
              font-size: 1rem;
            }
            .wrap-50 {
              // display: inline-block;
              display: flex;
              align-items: center;

              justify-content: space-between;
              width: 100%;
              text-align: left;
              .detail-sub-title {
                width: 95%;
                margin: auto;
                font-size: 1rem;
                text-align: center;
                color: rgb(78, 78, 78);
              }
              @include media("<large") {
                .detail-sub-title {
                  font-size: 0.8rem;
                }
              }
              @include media("<smedium") {
                .detail-sub-title {
                  font-size: 0.6rem;
                }
              }
              .period {
                width: 42%;
                outline: 0;
                border: 1.5px  solid  #b06ab3;
                color: rgb(78, 78, 78);
                font-weight: 600;
                font-size: 0.6rem;
                padding: 5px;
                border-radius: 10px;
                background: none;
              }
              @include media(">large") {
                .period {
                  font-size: 0.8rem;
                }
              }
              @include media("<large") {
                .period {
                  width: 100%;
                }
              }
            }
            @include media("<large") {
              .wrap-50 {
                width: 100%;
              }
            }
            ::-webkit-input-placeholder {
          color: rgb(78, 78, 78);
              font-size: 0.8rem;
            }
          }
          @include media("<large") {
            .detail-wrap {
              // margin: 2rem auto;
              // margin-bottom: 1rem;
              align-content: space-between;
            }
          }
          .char {
          color: rgb(78, 78, 78);
            font-weight: bold;
            font-size: 1rem;
          }
        }
        @include media("<large") {
          .content-detail {
            // padding: 5px;
            padding-left: 5px;
            padding-right : 5px;
            margin: 0.8rem auto; 
          }
        }
      }
      @include media("<large") {
        .content-box {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
  @include media("<large") {
    .post-wrap {
      width: 95%;
    }
  }
  .market-desc-wrap {
    width: 90%;
    margin: auto;
    .market-desc {
      border : 1.5px  solid  #b06ab3;
      width: 100%;
      padding: 20px;
      margin-bottom:  20px;
      height: 180px;
      color: rgb(78, 78, 78);
      outline: none;
      font-weight: 600;
      font-size: 1rem;
      background: none;
    }
    @include media("<large") {
      .market-desc {
        font-size: 0.8rem;
      }
    }
    @include media("<smedium") {
      .market-desc {
        font-size: 0.6rem;
      }
    }
  }
  .submit-box {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    .submit-btn, .cancel-btn {
      border: 1px solid  #b06ab3;
      margin: 10px;
      background-color:  #b06ab3;
      padding: 10px;
      color: white;
      font-weight: bolder;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background-color: black;
        color: white;
      }
    }
    @include media("<medium") {
      .submit-btn, .cancel-btn {
        font-size: 0.8rem;
        padding: 5px;
      }
    }
  }
}