@import 'common';

.form {
  width: 100%;
  margin: auto;
  padding: 1rem;
  background-image: url('/images/blue-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .post-wrap {
    width: 85%;
    padding: 20px;
    margin: 3rem auto;
    background-color: #EAFAF9;
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    .title {
      width: 100%;
      margin: auto;
      padding: 20px;
      text-align: center;
      font-size: 2rem;
      color: rgb(64, 199, 233);
    }
    @include media("<medium") {
      .title {
        font-size: 1.5rem;
      }
    }
    @include media("<smedium") {
      .title {
        font-size: 1.2rem;
      }
    }
    .content-wrap {
      width: 100%;
      margin: auto;
      border: 1px solid black;
      .content-box {
        display: inline-block;
        width: 50%;
        padding: 10px;
        border: 1px solid red;
        vertical-align: top;
        .content-title {
          color: rgb(64, 199, 233);;
          font-size: 1.2rem;
          text-align: center;
        }
        @include media("<large") {
          .content-title {
            font-size: 1rem;
          }
        }
        @include media("<medium") {
          .content-title {
            font-size: 0.8rem;
          }
        }
        .img-wrap {
          width: 100%;
          padding: 15px;
          margin-top: 2rem;
          text-align: center;
          .img-list {
            position: relative;
            display: inline-block;
            width: 60%;
            margin: 1.5%;
            height: 380px;
            min-height: 190px;
            border: 1px solid rgb(64, 199, 233);
            .upload-img {
              @include position-center();
              font-size: 1.2rem;
              z-index: 0;
              color: rgb(64, 199, 233);
            }
            .market-img {
              width: 100%;
              height: 380px;
              opacity: 0;
              cursor: pointer;
            }
          }
          @include media("<large") {
            .img-list {
              width: 60%;
              max-width: 270px;
              min-width: 150px;
              height: 250px;
              margin: 20px auto;
              .margiet-img {
                height: 250px;
              }
            }
          }
          @include media("<smedium") {
            .img-list {
              height: 180px;
              .margiet-img {
                height: 180px;
              }
            }
          }
        }
        @include media("<large") {
          .img-wrap {
            margin: 0.8rem auto;
            padding: 5px;
          }
        }
        .content-detail {
          width: 100%;
          padding: 15px;
          margin-top: 2rem;
          text-align: center;
          .detail-wrap {
            width: 100%;
            margin: 1rem auto;
            .market-title, .market-place, .market-cnt {
              width: 90%;
              outline: 0;
              border: 1px solid rgb(64, 199, 233);
              color: rgb(64, 199, 233);
              font-weight: 600;
              font-size: 1rem;
              padding: 10px;
              border-radius: 10px;
              background: none;
            }
            @include media("<large") {
              .market-title, .market-place, .market-cnt {
                width: 100%;
                font-size: 0.8rem;
              }
            }
            .wrap-50 {
              display: inline-block;
              width: 45%;
              .detail-sub-title {
                width: 95%;
                margin: auto;
                font-size: 0.6rem;
                text-align: center;
                color: rgb(64, 199, 233);
              }
              @include media("<large") {
                .detail-sub-title {
                  font-size: 0.8rem;
                }
              }
              @include media("<smedium") {
                .detail-sub-title {
                  font-size: 0.6rem;
                }
              }
              .period {
                width: 90%;
                margin: 0.8rem auto;
                outline: 0;
                border: 1px solid rgb(64, 199, 233);
                color: rgb(64, 199, 233);
                font-weight: 600;
                font-size: 0.8rem;
                padding: 10px;
                border-radius: 10px;
                background: none;
              }
              @include media(">large") {
                .period {
                  font-size: 1rem;
                }
              }
              @include media("<large") {
                .period {
                  width: 100%;
                }
              }
            }
            @include media("<large") {
              .wrap-50 {
                width: 100%;
              }
            }
            ::-webkit-input-placeholder {
              color: rgb(64, 199, 233);
              font-size: 0.8rem;
            }
          }
          @include media("<large") {
            .detail-wrap {
              margin: 2rem auto;
            }
          }
          .char {
            color: rgb(64, 199, 233);
            font-weight: bold;
            font-size: 1rem;
          }
        }
        @include media("<large") {
          .content-detail {
            padding: 5px;
            margin: 0.8rem auto; 
          }
        }
      }
      @include media("<large") {
        .content-box {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
  @include media("<large") {
    .post-wrap {
      width: 95%;
    }
  }
  .market-desc-wrap {
    width: 100%;
    border: 1px solid red;
    margin: auto;
    .market-desc {
      width: 100%;
      padding: 30px;
      color: black;
      outline: none;
      font-weight: 600;
      font-size: 1rem;
      background: none;
    }
    @include media("<large") {
      .market-desc {
        font-size: 0.8rem;
      }
    }
    @include media("<smedium") {
      .market-desc {
        font-size: 0.6rem;
      }
    }
  }
  .submit-box {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
    .submit-btn, .cancel-btn {
      border: 1px solid rgb(64, 199, 233);
      margin: 10px;
      background-color: white;
      padding: 10px;
      color: rgb(64, 199, 233);
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(64, 199, 233);
        color: white;
      }
    }
    @include media("<medium") {
      .submit-btn, .cancel-btn {
        font-size: 0.8rem;
        padding: 5px;
      }
    }
  }
}