@import 'common';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  // font-style: normal;
  // display: inline-block;
  // vertical-align: middle;
  // text-transform: none;
  // letter-spacing: normal;
  // word-wrap: normal;
  // white-space: nowrap;
  // direction: ltr;

  // -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;
  // -moz-osx-font-smoothing: grayscale;
  // font-feature-settings: 'liga';

  &:hover {
    color: blue;
    cursor: pointer;
  }
}

.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 5px;

  .left-wrapper {
    display: flex;
    flex-grow: .5;
    justify-content: space-between;
    background-color: #f3f9fc;
    border-radius: 10px;

    div {
      margin: 10px;
      text-align: center;
      line-height: 50px;
      font-size: 25px;
      font-weight: bolder;
      color: rgb(95, 93, 93);
    }
  }

  .right-wrapper {
    display: flex;
    flex-grow: 3;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;

    div {
      text-align: center;
      line-height: 35px;
      font-size: 15px;
      margin: 1px;
      border-radius: 2px;

      &:not(.icon) {
        background-color: #f3f9fc;     
      }
    }

    .days {
      width: 15%;
      text-align: center;
      line-height: 1rem;
      font-size: 20px;
      font-weight: bold;
      
      &.isSunday {
        color: red;
      }

      &.isSat {
        color: blue;
      }

      &.selected {    
        display: flex;
        flex-flow : column wrap;
        padding: 5px;

        .weekday {
          display : flex;
          width: 100%;
          flex-flow: row wrap;
          border-radius: 20px 20px 0 0;
          background-color: rgb(179, 230, 250);
          justify-content: center;
          align-content: space-around;
          height: 50%;
        }

        .day {
          width: 100%;
          background: white;
          box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
          display:  flex;
          flex-flow: column wrap;
          height: 50%;
          align-items: center;
          justify-content: space-around;
        }
      }

      &:hover {
        border: 3px solid rgb(105, 155, 248);
      }  
    }
  }
}


