@import 'common';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;

  &:hover {
    color: yellow;
    cursor: pointer;
  }
}

.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  padding: 10px;
  background-color: rgba(black, 0.4);
  flex-grow: 1;

  .btn-wrapper {
    display: flex;
    background-color: rgba(black, 0.4);
    border-radius: 10px;
    margin: 10px;
    margin-right: 20px;

    .all-btn {
      margin: 10px;
      text-align: center;
      line-height: 20px;
      font-size: 1.2rem;
      font-weight: bolder;
      color: white;
      cursor: pointer;
    }
  }

  .left-wrapper {
    display: flex;
    flex-grow: .5;
    justify-content: space-around;
    background-color: rgba(black, 0.4);
    border-radius: 10px;

    div {
      margin: 10px;
      text-align: center;
      line-height: 20px;
      font-size: 25px;
      font-weight: bolder;
      color: white;
    }
  }

  .right-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
      text-align: center;
      line-height: 30px;
      font-size: 15px;
      margin: 1px;
      border-radius: 2px;

      &:not(.icon) {
        background-color: rgba(black, 0.4);   
      }
    }

    .days {
      width: 10%;
      text-align: center;
      line-height: 1rem;
      font-size: 20px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      
      &.isSunday {
        color: red;
      }

      &.isSat {
        color: rgb(75, 75, 247);
      }

      &.selected {
        border: 3px solid rgb(247, 247, 97);
        // .days {
        //   border: 2px solid yellow;
        // }
        //display: flex;
        //flex-flow : column wrap;

        // .weekday {
        //   display : flex;
        //   width: 100%;
        //   flex-flow: row wrap;
        //   border-radius: 20px 20px 0 0;
        //   background-color: rgb(39, 93, 243);
        //   justify-content: center;
        //   align-content: space-around;
        //   height: 50%;
        // }

        // .day {
        //   width: 100%;
        //   background: rgb(207, 206, 206);
        //   box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
        //   display:  flex;
        //   flex-flow: column wrap;
        //   height: 50%;
        //   align-items: center;
        //   justify-content: space-around;
        // }
      }

      &:hover {
        border: 2px solid rgb(218, 218, 215);
      }  
    }
  }
}


