@import 'common';
.wrapper {
  border-bottom: 1px solid black;
  width : 1340px;
  height: auto;
  padding : 1rem;
  margin: auto;
  display : flex;
  justify-content: center;
  flex-flow :wrap;
  flex : 1, 100%;
  align-content: space-around;
}

