@import 'common';

.SignupMoreDataModal {
  // min-width: 600px;
  background-color: white;
  // padding: 2rem;
  position: relative;

  display: grid;


  .title {
    padding: 0 0 0 10px;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    border-left: 10px solid #4d87ef;
    margin-bottom: 30px;
  }

  .input-box {

    display: grid;


    .input-container {

      background-color: #ddd7d7;
      margin-bottom: 5px;

      // display: grid;
      // grid-template-columns: 200px minmax(200, 1fr);
      // grid-gap: 30px;

      // & > :first-child {
      //   background-color: orange;
      //   flex-basis: 100px;
      // }

      // &:last-child {
      //   background-color: lightblue;
      //   flex-grow: 5;

      // }
    }
  }





  .button-wrap {
    // margin-top: 20px;
    // margin-bottom: 20px;
    text-align: center;
    
    .button {
      display: inline-block;
      // margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      background-color: #4d87ef;
      color: white;
      outline: none;
      // padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 10px;
      
      &:hover {
        background-color: #447de2;
      }
    }
  }

  .close {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 50px;
    font-weight: bold;
    right: -5px;
    top: -15px;
    color: #aaa;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

}




// .SignupMoreDataModal {
//   width: 50rem;
//   background-color: white;
//   padding: 2rem;
//   position: relative;
//   .title {
//     font-size: 1.25rem;
//     font-weight: 500;
//   }
//   .close {
//     position: absolute;
//     line-height: 2rem;
//     text-align: right;
//     font-size: 2rem;
//     right: 1rem;
//     top: 0.5rem;
//     cursor: pointer;
//   }
//   .input-box {
//     width: 100%;
//     margin: 1rem auto;
//     .input-container {
//       width: 100%;
//       margin: 1rem auto;
//       .item-title {
//         font-size: 1.2rem;
//       }
//       .item-input {
//         width: 80%;
//         font-size: 1.2rem;
//         border: none;
//         outline: none;
//         border-bottom: 1px solid $oc-gray-5;
//         padding: 0.25rem;
//         border-radius: 4px;
//       }
//     }
//   }
//   .button-wrap {
//     width: 100%;
//     margin: auto;
//     text-align: center;
//     .button {
//       display: inline-block;
//       border: 1px solid blue;
//       color: blue;
//       padding: 15px;
//       margin: 10px;
//       cursor: pointer;
//       &:hover {
//         background-color: blue;
//         color: white;
//       }
//     }
//   }
// }