@import 'common';

.apply-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  .tick {
    margin-right: 1rem;
  }
  .content {
    flex: 1;
    word-break: break-all;
    &.done {
      text-decoration: line-through;
    }
    .text {
      display: inline-block;
      margin: 5px;
    }
  }
  .delete {
    margin-left: 1rem;
    color: $oc-red-7;
    font-size: .8rem;
    &.hover {
      color: $oc-red-5;
      text-decoration: underline;
    }
  }
  &:nth-child(odd) {
    background: $oc-gray-0;
  }
  &.hover {
    background: $oc-gray-1;
  }
  .apply-item + .apply-item {
    border-top: 1px solid $oc-gray-1;
  }
}