@import 'common';

.apply-wrapper {
  padding: .5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid rgb(121, 118, 118);
  line-height: 1rem;

  .content {
    flex: 1;
    word-break: break-all;

    .text {
      //display: inline-block;
      justify-content: space-around;
      margin: 1rem;

      span {
        
      }
    }
  }
  .delete {
    margin-left: 1rem;
    color: $oc-red-7;
    font-size: .8rem;
    &.hover {
      color: $oc-red-5;
      text-decoration: underline;
    }
  }
  &:nth-child(odd) {
    background: $oc-gray-0;
  }
  &.hover {
    background: $oc-gray-1;
  }
  .apply-item + .apply-item {
    border-top: 1px solid $oc-gray-1;
  }
}