.enroll-list-box {
  margin: 1rem auto;
  border-bottom: 1px solid #ccc;
  position: relative;
  .enroll-number {
    width: 10%;
  }
  .enroll-content {
    width: 15%;
  }
  .enroll-content, .enroll-number {
    padding: 1rem;
    display: inline-block;
    font-size: 0.8rem;
  }
  .delete {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }
}